.main_{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:#f8f1e4 ;
    overflow: hidden;
}

.main_box{
    display: flex;
    height: inherit;
}

.left_contain{
    border-radius: 1rem;
    margin: 1.5rem 1rem 0 1rem;  
    padding: 1rem 2rem 0 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 92%;
    background-color: white;
}

#performance_filter{
    display: flex;
    justify-content: space-between;
}
.performance_content{
    display: flex;
    height: 60%;
}
.content_image{
    width: 30%;
    margin-right: 1rem;
}
.record{
    width: 70%;
}
#progress{
    width: 100%;
    height:100%;
}
.grid-container {
    text-align: center;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 10px;
  }
  .grid_heading{
    font-size: large;
    color: #F7A60F;
  }

.feedback_box{   
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    width: inherit;
}
#feedback_text{
    width: inherit;
    height:5rem;
    padding: 1rem 1rem 0 1rem;
}
.feedback_btn{
    cursor: pointer;
    margin-top: 0.5rem;
    width: max-content;
    text-decoration: none;
    padding: 10px 20px;
    background-color:  #F7A60F;
    border-radius: 25px;
    border: none;
    color: white;
}
#button_div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.right_contain{
    width: 20%;
    margin: 1.5rem 1rem 0 0rem;
}

.right_contain_box1{   
    padding:0.5rem 0;
    display: flex;
    flex-direction: column;
    /* height: 20%; */
    border-radius: 1rem;
    background-color: white;
    align-items: center;
    color: rgba(10, 60, 95, 1);
}

#profile_name{
    font-size:x-large;
}
#profile_image{
    width: 30% ;
}
.logout{
    margin-top: 0.5rem;
    text-decoration: none;
    padding: 0.5rem 2rem;
    background-color: #F7A60F;
    border-radius: 25px;
    border:none;
    color: white;
    font-size: medium;
    cursor:pointer;
}

.account_heading{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: rgba(10, 60, 95, 1);
}
.filter-modal {
    position: fixed;
    top: 8rem; /* Adjust vertical position */
    left: 76%;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    border: 3px solid rgba(10, 60, 95, 1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 80%; /* Adjust width */
    max-width: 450px;
    
    
     /* Limit maximum width */
  }
  
  
  
 
  
  .flag-image {
    
    height: 2rem; 
    display:flex;
    justify-content: center;
    /* width: auto;  */
    outline:none;
    border: none;
  }
  
  .lang_filter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    margin-top: 1rem;
  }
  .flag_lang{
    display: flex;
    
    flex-direction: column;
    width: 25%;
    align-items: center;
  }
  .filter-button{
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: #F7A60F;
    border-radius: 25px;
    border:none;
    color: white;
    font-size: medium;
  }
  .filter-modal h3{
    color:  #F7A60F;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    /* margin-top: 1rem; */
    font-weight: normal;
  }
  
  .dialog-box{
    filter: blur(0px);
    pointer-events: auto;
  }
  .date-filters{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .startDate{
    background-color:#F7A60F;
    color: white;
    border-radius: 25px;
    outline: none;
    border: none;
    padding: 0.3rem 0.8rem;
    margin: 1rem;
  }
  .endDate{
    background-color:#F7A60F;
    color: white;
    border-radius: 25px;
    outline: none;
    border: none;
    padding: 0.3rem 0.8rem;
    margin: 1rem;
  }
  .date-h3{
    margin-top: 1rem;
  }
.filter-btn{
    margin-top: 1rem;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    
}
.filter-btn button{
    background-color: rgba(10, 60, 95, 1);
    color: white;
    text-align: center;
    font-size: 14px;
    border-radius: 25px;
    padding: 0.3rem 0.8rem;
}
.reset{
    margin-left: 1rem;
}
.date-filters label{
    color:rgba(10, 60, 95, 1);
}